fastapi
uvicorn
langchain
langchain-community
langchain-openai
openai
python-dotenv
chromadb
tiktoken
faiss-cpu
unstructured
requests
pdfminer.six
pi_heif
unstructured_inference
pillow
python-magic
pdf2image